body{
  margin: 0px;


}
/*
.gridcontainer {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-rows: 4;
  grid-template-columns: 100px 100px;

}*/



.headders{
  background-color: black;
  background-blend-mode: overlay;
  margin: 0px;
  height:80vh;
  width: auto;
  display:flex;


}

.head_container{
  width: 80% ;
  margin-left: 100px;
  color: white;
  text-shadow: #9c9c9c 1px 0 15px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-align: center;
}

.headder_text{
  color: white;
  text-shadow: #9c9c9c 1px 0 15px;
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  padding-left: 20px;
  text-align: center;
}
.details{
  color: #4088ed;
  /*text-shadow: #9c9c9c 1px 0 15px;*/
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  margin-left: 10vh;
  margin-right: 50px;
  margin-top: 0px;
  text-align: left;
}
.headder_img{
  height:auto;
  max-width:100%;
  width:500px;
  float:right;
  padding-right:0px;
  padding-top: 100px;
  margin-left:100px;
}


#scrollDown{
  background-image: url("assets/down.png");
  background-size: cover;

  position: sticky;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
#scrollDown:hover{
  background-image: url("assets/down.png");
  background-color: #999999;
  background-blend-mode:multiply;
}
#scrollDown:active{
  background: black;
}


#scrollTop{
  background-image: url("assets/home.png");
  background-size: cover;
  position:fixed;
  width:60px;
  height:60px;
  border-radius: 50%;
  outline:none;
  cursor: pointer;
  right:10px;
  bottom: 80px;
}
#scrollTop:hover{
  background-image: url("assets/home.png");
  background-color: #999999;
  background-blend-mode:multiply;
}





#scrollNext{
  background-image: url("assets/up.png");
  background-size: cover;
  position:fixed;
  width:60px;
  height:60px;
  border-radius: 50%;
  outline:none;
  cursor: pointer;
  right:10px;
  bottom: 150px;
}
#scrollNext:hover{
  background-image: url("assets/up.png");
  background-color: #999999;
  background-blend-mode:multiply;
}




#scrollPrev{
  background-image: url("assets/next.png");
  background-size: cover;
  position:fixed;
  width:60px;
  height:60px;
  border-radius: 50%;
  outline:none;
  cursor: pointer;
  right:10px;
  bottom: 10px;
}
#scrollPrev:hover{
  background-image: url("assets/next.png");
  background-color: #999999;
  background-blend-mode:multiply;
}




.banner{
display: grid;
height: 10vh;
width: 100%;
top:0px;
grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
position: sticky;
border-radius: 20%;

}
.stickTop{
  position: fixed;
}
.banner > div{
  background: #0d1e4d;

}
.banner > div:nth-child(odd){
  background:#1e2f5e;
}
.bantext{
  align-items: center;
}
#bannerButton{
  background-color: #1e2f5e;
  width: 100%;
  color: white;
  text-align: center;
  height:100%;
  border-radius: 10%;
  outline:none;
  cursor: pointer;
}
#bannerButton:hover{
background-color: #1b3787
}
#bannerButton2{
  background-color: #0d1e4d;
  width: 100%;
  color: white;
  text-align: center;
  height:100%;
  border-radius: 10%;
  outline:none;
  cursor: pointer;
}
#bannerButton2:hover{
  background-color: #152c6e;
}




.opening{
  text-align: center;
  color: white;
  font-size: 40px;
  display: grid;
  background-color: #16213e;
  margin: 0px;
  min-height: 10vh;
  width: auto;
  grid-template-columns: 45% 10% 45%;
}
.content{

}
.text{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  color: white;
  background: #185094;

}
.text:nth-child(odd){
  background: #253663;
}

section{
  height: 100vh;
  padding: 100px;
  padding-top: 250px;

  background: #16213e;
}
section:nth-child(1){
  background: #16213e;
  height: 100vh;
}
section:nth-child(odd){
  background: #0f3460;

}
